<head>
    <title>submitGit</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")" />
    <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.min.js")"></script>
    <link rel="stylesheet" href="@routes.Assets.at("lib/octicons/octicons.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>