@(mailType: lib.MailType, proposedMail: lib.ProposedMail, isDefault: Boolean, btnClass: String)(implicit req: GHPRRequest[_])
@import helper._
@import lib.github.Implicits._


<div role="tabpanel" class="tab-pane @if(isDefault) { fade in active }" id="mail-@mailType.slug">
@fragments.emailAddresses(proposedMail.addresses)
@if(proposedMail.errors.nonEmpty) {
    <div class="alert alert-warning" role="alert">
        <ul>
        @for(error <- proposedMail.errors) {
            <li>@error</li>
        }
        </ul>
    </div>
}

@form(routes.Application.mailPullRequest(req.pr.id, mailType)) {
    @CSRF.formField
    <button
    class="btn @btnClass btn-lg"
    value="send"
    @if(proposedMail.errors.nonEmpty) { disabled="disabled" }
    >Send</button>
}
</div>