@import lib.Email.Addresses
@import lib.model.MessageSummary
@import play.api.libs.json.JsArray
@import play.api.libs.json.JsString
@(mailType: lib.MailType, proposedMail: lib.ProposedMail, isDefault: Boolean, btnClass: String
        )(implicit req: GHPRRequest[_], prMailSettings: Form[lib.PRMailSettings], messages: Messages)
@import helper._
@implicitFieldConstructor = @{ b3.vertical.fieldConstructor }

<div role="tabpanel" class="tab-pane @if(isDefault) { fade in active }" id="mail-@mailType.slug">

    @if(proposedMail.errors.nonEmpty) {
        <div class="alert alert-warning" role="alert">
            <ul>
            @for(error <- proposedMail.errors) {
                <li>@error</li>
            }
            </ul>
        </div>
    }

    <div class="form-horizontal addresses">
    @fragments.emailAddresses(proposedMail.addresses)(b3.horizontal.fieldConstructor("col-md-2", "col-md-10"))
    </div>

    @b3.form(routes.Application.mailPullRequest(req.pr.id, mailType)) {
        @CSRF.formField

    @b3.inputWrapped("text", prMailSettings("subjectPrefix"), '_label -> "Subject prefix", 'placeholder -> "PATCH", 'maxlength -> "20") { input =>
        <div class="input-group" id="@mailType.slug-subject-prefix">
            <span class="input-group-addon">[</span>
            @input
            <span class="input-group-addon">]</span>
        </div>
    }

    @b3.inputWrapped("text", prMailSettings("inReplyTo"), '_label -> "In-reply-to", 'placeholder -> "message-id (optional)", 'class -> "form-control typeahead") { input =>
        <div id="@mailType.slug-in-reply-to">
            <div class="input-group">
                <span class="input-group-addon">&lt;</span>
                @input
                <span class="input-group-addon">&gt;</span>
            </div>
            <div class="message-ident panel panel-default" style="padding: 3%; display: none;">
                <button type="button" class="close" aria-label="Remove"><span aria-hidden="true">&times;</span></button>
                <div class="message-ident-content"></div>
            </div>
        </div>
    }

    <script id="entry-template" type="text/x-handlebars-template">
        @fragments.mailIdent(MessageSummary("{{id}}", "{{subject}}", java.time.ZonedDateTime.now, Addresses("{{addresses.from}}"), "{{groupLink}}"))
    </script>
    <script>
        var inReplyToFieldContainer = jQuery("#@mailType.slug-in-reply-to");
        var messageSuggestions = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            // prefetch: routes.Api.pullRequestMessages(req.pr.id),
            remote: {
                url: '@routes.Api.messageLookup(req.repo.id, "QUERY_STRING")',
                wildcard: 'QUERY_STRING'
            }
        });

        function messageSuggestionsWithDefaults(q, sync) {
          if (q === '') {
            sync(messageSuggestions.get(
                @Html(JsArray(lib.model.PRMessageIdFinder.messageIdsByMostRecentUsageIn(req.pr).take(3).map(JsString(_))).toString)
            ));
          } else {
            messageSuggestions.search(q, sync);
          }
        }

        inReplyToFieldContainer.messageIdPicker({
            hint: true,
            highlight: true,
            minLength: 0, // To allow default suggestions
            classNames: {menu: 'tt-dropdown-menu'}
        }, {
            name: 'messageIds',
            source: messageSuggestionsWithDefaults,
            display: 'id',
            templates: {
                empty: '<div class="empty-message">Unable to find any Messages that match that Id</div>',
                suggestion: Handlebars.compile(jQuery("#entry-template").html())
            }
        });
        inReplyToFieldContainer.find(".input-group .typeahead").bind('typeahead:select', function (ev, suggestion) {
            jQuery("#@mailType.slug-subject-prefix input").changeVal(suggestion.suggestsPrefix);
        });
    </script>

    @b3.submit('class -> s"btn $btnClass btn-lg", 'disabled -> proposedMail.errors.nonEmpty) {
        Send
    }
}
</div>