@(mailType: lib.MailType, pr: org.kohsuke.github.GHPullRequest, proposedMail: lib.ProposedMail)(implicit req: GHPRRequest[_])
@import helper._
@import lib.github.Implicits._

@fragments.emailAddresses(proposedMail.addresses)
@if(proposedMail.errors.nonEmpty) {
    <div class="alert alert-warning" role="alert">
        <ul>
        @for(error <- proposedMail.errors) {
            <li>@error</li>
        }
        </ul>
    </div>
}

@form(routes.Application.mailPullRequest(pr.id, mailType)) {
    @CSRF.formField
    <button
    class="btn btn-primary"
    value="send"
    @if(proposedMail.errors.nonEmpty) { disabled="disabled" }
    >Send</button>
}