@(defaultMailTab: lib.MailType, proposedMailByType: Map[lib.MailType,lib.ProposedMail])(implicit req: GHPRRequest[_])
@import lib.MailType
@import MailType.{Live, Preview}

<div role="tabpanel">
    <ul class="nav nav-tabs">
        @fragments.sendTab(Preview, Preview == defaultMailTab) { To You... (Preview) }
        @fragments.sendTab(Live, Live == defaultMailTab) { To the Mailing List... }
    </ul>
    <div class="tab-content">
        @for(mt <- MailType.all) {
            @fragments.sendTabContent(mt, proposedMailByType(mt), mt == defaultMailTab)
        }
    </div>
</div>