@(
        defaultMailTab: lib.MailType,
        proposedMailByType: Map[lib.MailType,lib.ProposedMail],
        messageIds: Seq[String]
        )(implicit req: GHPRRequest[_], prMailSettings: Form[lib.PRMailSettings], messages: Messages)
@import lib.MailType
@import MailType.{Live, Preview}

<h3>Send this Pull Request to...</h3>
<div class="send-tabs" role="tabpanel">
    <ul class="nav nav-tabs nav-justified">
        @fragments.sendTab(Preview, Preview == defaultMailTab) { You <img src="@req.user.avatar_url&s=40" height="20" width="20">   }
        @fragments.sendTab(Live, Live == defaultMailTab) { The Mailing List <img src="@routes.Assets.at("images/git-logo.png")" height="20" width="20"> }
    </ul>
    <div class="tab-content">
        @fragments.sendTabContent(Preview, proposedMailByType(Preview),messageIds, Preview == defaultMailTab,"btn-primary")
        @fragments.sendTabContent(Live, proposedMailByType(Live),messageIds, Live == defaultMailTab,"btn-danger")
    </div>
</div>

