@()(implicit req: Request[AnyContent])
@import lib.github.RepoName
@main {
    <div class="jumbotron">
        <h1>Contribute to Git!</h1>
        <p><i>Patches for the mailing list... pull requests for you</i></p>
        <p><a class="btn btn-primary btn-lg" href="@routes.Application.listPullRequests(RepoName("git","git"))" role="button">Get started</a>
            ...or experiment on a <a href="@routes.Application.listPullRequests(RepoName("submitgit","pretend-git"))">test repo!</a></p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>What is <i>submitGit?</i></h3>
            <p>The Git project has a <a href="https://github.com/git/git/blob/1eb0545c/Documentation/SubmittingPatches#L120-L464">patch submission process</a>
                that's unfamilar <em>for the majority of Git users</em>: hitting the mailing list with
                <a href="http://git-scm.com/docs/git-format-patch"><code>git-format-patch</code></a>
                and <a href="http://git-scm.com/docs/git-send-email"><code>git-send-email</code></a>.</p>
            <p><em>submitGit</em> is a step in trying to make the process easier. If you create a pull request on
                <a href="https://github.com/git/git/pulls">github.com/git/git</a>,
                <em>submitGit</em> can close it for you by correctly formatting it as
                a series of patches, and sending it to the mailing list.</p>

            <p>The patch review stays on the list - but at least you no longer need to learn a <em>whole new method of email</em>
                to submit your improvement to Git.</p>
        </div>
        <div class="col-md-6">
            <h3>Prerequisites</h3>
            <p><i>submitGit</i> is set up to allow you to send test messages to yourself - all that requires is that
                your email is verified on GitHub - but when you want to mail the Git mailing list for real, there are
                a few extra requirements:<p>

            <ul>
                <li>Your GitHub account must be older than 3 months</li>
                <li>As well as being verified in GitHub, your email must be registered with <i>submitGit</i>,
                to allow <i>submitGit</i> to send emails with your address as the 'From:' field.</li>
            </ul>
            <h4>Recommended reading</h4>
            <ul>
                <li><a href="https://github.com/git/git/blob/master/Documentation/SubmittingPatches">Guidelines for submitting patches to Git</a>.
                    Half this document covers how to send a patch via email without it getting corrupted - which <i>submitGit</i>
                    will do for you - but the other half is very useful, giving guidance on what good patches for the Git project should look like.</li>
                <li><a href="http://www.annashipman.co.uk/jfdi/good-pull-requests.html">"How to raise a good pull request"</a> by Anna Shipman</li>
            </ul>
        </div>
    </div>
}