@(userPRs: Seq[org.kohsuke.github.GHPullRequest], otherPRs: Seq[org.kohsuke.github.GHPullRequest])(implicit req: GHRepoRequest[_])
@import lib.github.Implicits._

@main {
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="alert-warning">You're <a href="@req.gitHub.getMyself.getHtmlUrl">@req.gitHub.getMyself.atLogin</a>.</p>

            @if(userPRs.nonEmpty) {
                <h3>Your pull requests against <a href="@req.repo.gitHttpTransportUrl">@req.repo.getFullName</a></h3>
                <ul>
                @for(pullRequest <- userPRs) {
                    <li>
                        <a href="@Application.routeReviewPullRequest(pullRequest)">#@pullRequest.getNumber @pullRequest.getTitle</a>
                    </li>
                }
                </ul>
            } else {
                <h3>Your don't have any pull requests against <a href="@req.repo.gitHttpTransportUrl">@req.repo.getFullName</a>...
                you can try</h3>
                <ul>
                @for(pullRequest <- otherPRs) {
                    <li>
                        <a href="@Application.routeReviewPullRequest(pullRequest)">#@pullRequest.getNumber @pullRequest.getTitle</a>
                    </li>
                }
                </ul>
            }

        </div>
    </div>
}