@(userPRs: Seq[org.kohsuke.github.GHPullRequest], otherPRs: Seq[org.kohsuke.github.GHPullRequest])(implicit req: GHRepoRequest[_])
@import lib.github.Implicits._

@main {
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            @if(userPRs.nonEmpty) {
                <h3>Chose one of your pull requests against <a href="@req.repo.gitHttpTransportUrl">@req.repo.getFullName</a></h3>
                @fragments.listPullRequests(userPRs)
            } else {
                <h4>You don't have any pull requests against <a href="@req.repo.gitHttpTransportUrl">@req.repo.getFullName</a>.
                Try a preview with one of these:</h4>
                @fragments.listPullRequests(otherPRs)
            }
        </div>
    </div>
}