@(content: Html)(implicit req: RequestHeader)
@import com.madgag.playgithub.auth.MinimalGHPerson
<!DOCTYPE html>
<html>
@fragments.head()
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">submitGit</a>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collapsible-nav">
                <ul class="nav navbar-nav navbar-right">
                    @for(user <- MinimalGHPerson.fromRequest) {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="@user.avatarUrl&s=40" width="20" height="20" class="img-rounded"> @user.login <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@routes.Auth.logout()">Logout</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="body container">@content</div>
    @fragments.footer()
</body>
</html>
