@(pullRequest: org.kohsuke.github.GHPullRequest, user: org.kohsuke.github.GHMyself)(implicit req: Request[AnyContent])
@import lib.github
@import github.Implicits._
@import helper._

@main {
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>#@pullRequest.getNumber @pullRequest.getTitle</h3>
            <a href="@pullRequest.getHtmlUrl">github</a>
            @pullRequest.getBody
            <p>@pullRequest</p>
                @form(Application.routeMailPullRequest(pullRequest)) {
                    @CSRF.formField
                    <div class="gh-org">
                        @pullRequest.getTitle
                        <button class="btn btn-xs btn-primary gh-org-btn" value="submit">@pullRequest.getNumber</button>
                    </div>
                }
        </div>
    </div>
}