@(pullRequest: org.kohsuke.github.GHPullRequest, user: org.kohsuke.github.GHMyself, proposedMailByType: Map[lib.MailType,lib.ProposedMail])(implicit req: GHPRRequest[_])
@main {

    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>

    <div class="row">
        <ol class="breadcrumb">
            @fragments.linkedBreadcrumb(routes.Application.listPullRequests(req.repo.id), "repo") { @req.repo.id.fullName }
            <li class="active"><span class="octicon octicon-git-pull-request"></span> #@req.pr.getNumber</li>
        </ol>
        @for(notifyEmailVerification <- req.flash.get("notifyEmailVerification")) {
            <div class="alert alert-info" role="alert">
                <h4>Great! Now, please check <span title="@notifyEmailVerification">your email</span> for an <q>Amazon SES Address Verification Request</q></h4>
                <p>
                    Click the link in that email to grant submitGit permission to send emails to the Git mailing list with <em>your</em> address in the 'From:' field
                </p>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>
                <a href="@pullRequest.getHtmlUrl"><span class="mega-octicon octicon-mark-github"></span></a>
                #@pullRequest.getNumber @pullRequest.getTitle
            </h3>

            @fragments.patchBaseGuidelines(pullRequest.getBase.getRef)

            <table class="table">
                <caption>Commits</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    @for(commit <- pullRequest.listCommits()) {
                        <tr>
                            <th scope="row"><code><a href="@commit.getUrl">@commit.getSha.take(8)</a></code></th>
                            <td><code>@commit.getCommit.getMessage.lines.take(1)</code></td>
                        </tr>
                    }
                </tbody>
            </table>
            <pre class="non-wrapping"><code>@for(line <- pullRequest.getBody.lines; (allowed, excess) = line.splitAt(72)) {@allowed@if(excess.nonEmpty) {<span class="long">@excess</span>}<br/>}</code></pre>

        </div>
        <div class="col-md-5">
            @fragments.sendTabs(req.defaultMailType, proposedMailByType)
        </div>
    </div>
}