@(
        commits: Seq[PullRequest.CommitOverview],
        proposedMailByType: Map[lib.MailType,lib.ProposedMail],
        messageIds: Seq[String]
        )(implicit req: GHPRRequest[_], prMailSettings: Form[lib.PRMailSettings], messages: Messages)
@main {
    <div class="row">
        <ol class="breadcrumb">
            @fragments.linkedBreadcrumb(routes.Application.listPullRequests(req.repo.repoId), "repo") { @req.repo.full_name }
            <li class="active"><span class="octicon octicon-git-pull-request"></span> #@req.pr.number</li>
        </ol>
        @for(notifyEmailVerification <- req.flash.get("notifyEmailVerification")) {
            <div class="alert alert-info" role="alert">
                <h4>Great! Now, please check <span title="@notifyEmailVerification">your email</span> for an <q>Amazon SES Address Verification Request</q></h4>
                <p>
                    Click the link in that email to grant submitGit permission to send emails to the Git mailing list with <em>your</em> address in the 'From:' field
                </p>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>
                <a href="@req.pr.html_url"><span class="mega-octicon octicon-mark-github"></span></a>
                #@req.pr.number @req.pr.title
            </h3>

            @fragments.patchBaseGuidelines(req.pr.base.ref)

            <table class="table">
                <caption>Commits</caption>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    @for(commit <- commits) {
                        <tr>
                            <th scope="row"><code><a href="@commit.url">@commit.sha.name.take(8)</a></code></th>
                            <td><code>@commit.subject</code></td>
                        </tr>
                    }
                </tbody>
            </table>
            <pre class="non-wrapping"><code>@for(line <- req.pr.body.getOrElse("").lines; (allowed, excess) = line.splitAt(72)) {@allowed@if(excess.nonEmpty) {<span class="long">@excess</span>}<br/>}</code></pre>

        </div>
        <div class="col-md-5">
            @fragments.sendTabs(req.defaultMailType, proposedMailByType, messageIds)
        </div>
    </div>
}